div.wrapper {
    width: 600px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

div.wrapper h1:first-child {
    font-size: 40pt;
    margin-bottom: 0;
}

div.wrapper h1:first-child::before {
    content: "~";
}

div.wrapper h2:nth-child(2) {
    margin-top: 0;
    color: grey;
}

ul.posts {
    list-style: none;
    padding-left: 0;
}

li.post:nth-child(odd) {
    background-color: #efefef;
    padding: 10px;
}
