{{ define "index" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Social Network</title>
        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <div class="header">
            <h1>Reddit Clone</h1>
            <h2><a href="/">home</a></h2>
            <h2><a href="#">log-in</a></h2>
            <h2><a href="#">register</a></h2>
        </div>

        {{ template "post" . }}
    </body>
</html>
{{ end }}

{{ define "post" }}
{{ if .IsPost }}
    <div class="post">
        <p class="post-head">
            [{{ .Score }}] <span class="name">{{ .User }}</span> says
        </p>

        <pre class="content">{{ .Content }}</pre>

        <ul class="replies">
            {{ range .Children }}
                <li>{{ template "post" . }}</li>
            {{ end }}
        </ul>
    </div>
{{ else }}
    <em>... max depth reached ...</em>
{{ end }}
{{ end }}
